akshare==1.8.11
alembic==1.8.1
appdirs==1.4.4
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1667325728359/work
async-timeout==4.0.2
attrs==22.1.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
bidict==0.22.0
black @ file:///D:/bld/black-recipe_1666900153638/work
calmap==0.0.9
cattrs==22.2.0
certifi==2022.9.24
cffi==1.15.1
cfscrape==2.1.1
charset-normalizer==2.1.1
click @ file:///D:/bld/click_1666798499870/work
cloudpickle==2.2.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
contourpy==1.0.6
cvxpy==1.2.2
cycler==0.11.0
databricks-cli==0.17.3
debugpy @ file:///D:/bld/debugpy_1666826464858/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
Deprecated==1.2.13
dill==0.3.6
docker==6.0.1
docopt==0.6.2
ecos==2.0.10
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
et-xmlfile==1.1.0
exceptiongroup==1.0.4
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1667317341051/work
filelock==3.8.0
fire==0.4.0
Flask==2.2.2
fonttools==4.38.0
future==0.18.2
gitdb==4.0.9
GitPython==3.1.29
greenlet==2.0.1
gym==0.26.2
gym-notices==0.0.8
hmmlearn==0.2.8
html5lib==1.1
hyperopt==0.1.2
idna==3.4
importlib-metadata==5.0.0
importlib-resources==5.10.0
ipykernel @ file:///D:/bld/ipykernel_1668027251175/work
ipython @ file:///D:/bld/ipython_1667140819615/work
itsdangerous==2.1.2
javalang==0.13.0
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1659959867326/work
Jinja2==3.0.3
joblib==1.2.0
joypy==0.2.6
jsonpath==0.82
jsonpickle==1.5.2
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1668623095912/work
jupyter_core @ file:///D:/bld/jupyter_core_1668030985185/work
kiwisolver==1.4.4
lightgbm==3.3.3
llvmlite==0.39.1
loguru==0.6.0
lxml==4.9.1
Mako==1.2.4
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mizani==0.8.1
mlflow==2.0.1
munch==2.5.0
mypy-extensions @ file:///D:/bld/mypy_extensions_1666795171135/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1664684991461/work
networkx==2.8.8
numba==0.56.4
numexpr==2.8.4
numpy==1.23.5
oauthlib==3.2.2
openpyxl==3.0.10
osqp==0.6.2.post5
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
palettable==3.3.0
pandas==1.5.1
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1668325009666/work
patsy==0.5.3
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==9.3.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1657729053205/work
plotly==5.11.0
plotnine==0.10.1
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1667565496306/work
protobuf==3.20.1
psutil @ file:///D:/bld/psutil_1667886078163/work
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
py-cpuinfo==9.0.0
py-mini-racer==0.6.0
pyarrow==10.0.0
pycparser==2.21
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1660666458521/work
PyJWT==2.6.0
pymongo==3.7.2
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
pypinyin==0.47.1
pyqlib==0.8.6
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-engineio==4.3.4
python-redis-lock==4.0.0
python-socketio==5.7.2
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
pywin32==304
PyYAML==6.0
pyzmq @ file:///D:/bld/pyzmq_1666828542236/work
qdldl==0.1.5.post2
querystring-parser==1.2.4
redis==4.3.4
requests==2.28.1
requests-cache==0.9.7
rpy2==3.5.6
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
sacred==0.8.2
schedule==1.1.0
scikit-learn==1.1.3
scipy==1.9.3
scs==3.2.2
seaborn==0.12.1
shap==0.41.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sklearn==0.0.post1
slicer==0.0.7
smmap==5.0.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.44
sqlparse==0.4.3
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1668260892666/work
statsmodels==0.13.5
tables==3.7.0
tabulate==0.9.0
tenacity==8.1.0
termcolor==2.1.1
threadpoolctl==3.1.0
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
tornado @ file:///D:/bld/tornado_1666788847934/work
tqdm==4.64.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1666115969632/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1665144421445/work
tzdata==2022.6
tzlocal==4.2
url-normalize==1.4.3
urllib3==1.26.12
waitress==2.1.2
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
websocket-client==1.4.2
Werkzeug==2.2.2
win32-setctime==1.1.0
wrapt==1.14.1
xlrd==2.0.1
zipp==3.10.0
